<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
  <script src="//code.angularjs.org/1.6.6/angular.min.js"></script>
  <script src="app.js"></script>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group {{textBoxStyle}}">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="lunchItems">
         </div>
         <div class="form-group">
             <button id="check-items"
               class="btn btn-default"
               ng-click="checkIfTooMuch()">Check If Too Much</button>
               <label for="check-items" class="text-muted">Note: Empty items are not included in the count.</label>
         </div>
         <div class="form-group message {{messageStyle}}">
           <!-- Your message can go here. -->
           {{ message }}
         </div>
   </div>

</body>
</html>
