<div class="row">
  <div class="col-sm-12">
    <h3>{{ctrl.title}}</h3>
    <ul class="list-group">
        <li class="row list-group-item" ng-repeat="item in ctrl.found">
          <div class="col-sm-3">{{item.name}}</div>
          <div class="col-sm-1">{{item.short_name}}</div>
          <div class="col-sm-4">{{item.description}}</div>
          <div class="col-sm-4">
            <button class="btn btn-primary btn-block" ng-click="ctrl.onRemove({index: $index})">Don't want this one!</button>
          </div>
        </li>
    </ul>
    <div ng-if="ctrl.nothingFound()" class="alert alert-danger" role="alert">Nothing found</div>
  </div>
</div>
